/* Coolors Exported Palette - coolors.co/c95089-f984e2-ecd678-a69b6c-00a971 */

$text-color: #303030;
$grey: #454545;
$color1: #c95089;
$color2: #f984e2;
$color3: #ecd678;
$color4: #a69b6c;
$color5: #00a971;