// Font Stack Sass

// Main heading
// @import url("http://fonts.googleapis.com/css?family=Lobster");

@font-face {
  font-family: "Lobster";
  src: url('../font/Lobster/Lobster.eot'); /* IE9 Compat Modes */
  src: url('../font/Lobster/Lobster.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/Lobster/Lobster.woff') format('woff'), /* Pretty Modern Browsers */
       url('../font/Lobster/Lobster.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/Lobster/Lobster.svg#svgFontName') format('svg'); /* Legacy iOS */
}
// Usage: font-family: 'Lobster', cursive;


// H2-6 and body copy
//@import url("http://fonts.googleapis.com/css?family=Arimo:400,700");

// Usage: font-family: 'Arimo', sans-serif;


// Code
//@import url("http://fonts.googleapis.com/css?family=Inconsolata:400,700");

// Usage: font-family: 'Inconsolata', ;

