//- Basic site definitions that live during development
//- All constants should go here

//- Name of the project
- var site = "Sassy Jade";

//- Root of the project, useful to build navs
- var root = "file:///Users/philipp/Dev/boilerplates/sassyjade/dist/";