//- Sassyjade's Jade Configuration File

//- Project name
- var site = 'Sassyjade';

//- Project root
- var root = '/Users/philipp/Dev/boilerplates/sassyjade/dist/';

//- CSS file to be included in distribution
- var css = root + 'css/main.css';

//- JS file to be included in distribution
- var js = root + 'js/app.js';

//- Page title format
- var title = site + ' | ' + page;

//- Global includes
include ../mixin/jadestones.jade