//- Cool and useful stuff


//- Place a code snippet
  //- @hack code snippet {str} to be shared

mixin code(hack)
  pre
    code= hack


//- Inserts a placeholder image
  //- @w width {int} width of the image
  //- @h height {int} height of the image
  //- @cl class {str} any classes to be assigned to the image
  //- @t text {str} text to go on the image, default is the dimension
  //- @c color {str} hex color value, default is grey

mixin phImg(w, h, cl, t, col)
  - var string = "http://placehold.it/" + w + "x" + h + ".png"
  - if(col) { string += "/" + col.substring(1) }
  - if(t) { string += "&text=" + t.split(" ").join("+") }
  img(class=cl src=string, alt="Placeholder")


//- Inserts a dead placeholder link
  //- @t text {str} the text of the link
  //- @cl class {str} any classes to be assigned to the link

mixin phLn(t, cl)
  a(href="#", class=cl)= t