extends templ/layout/layout.jade
block vars
  - var page = "Intro"

block main
  .main
    h2 Nice to meet you ;-)
    p I am here to give you a headstart developing front-ends with Sass, Jade and Gulp.
    h3 Where to start?
    p Switch to your terminal and kick-off all the pre-defined Gulp tasks, including compiling your Sass and Jade.
    +code("$ gulp watch")
    p If you prefer to work on your Jade only and don't bother about the styling just yet you can also just watch for changes in your templates.
    +code("$ gulp watch-jade")
    p And the other way: just care about style (who does't...?) then we have you covered.
    +code("$ gulp watch-style")
    h3 What's next?
    p #[a(href="#") Learn more] about all the pre-built Gulp tasks, my opinionated workflow and read the #[a(href="#") docs]. See ya!